# 
# Auto-detect text files and perform LF normalization
* text=auto

# Force code and config to always use LF line endings
*.js text eol=lf
*.mjs text eol=lf
*.cjs text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
